.descr{
	cursor: pointer;
}
.descr > div{
	cursor: default;
	display:none;
	position:absolute;
	background-color:whitesmoke;
	border:1px solid black;
	margin-left: 100px;
	max-width:50%;
}
.descr:hover > div{
	display:block;
}
.head{
	color: blue;
	font-size: large;
	font-weight: bold;
}
td
{
	font-size:medium
}
